p.caption {
    color: #777;
    margin-top: 10px;
}

p code {
    white-space: inherit;
}

pre {
    word-break: normal;
    word-wrap: normal;
}

pre code {
    white-space: inherit;
}

/* General style */

.sidebar h2 {
    margin-bottom: 1rem;
}

main {
    font-family: serif;
    font-size: 1.25rem;
    line-height: 1.4;
    word-break: break-word;
}

main p {
    text-indent: 1.2em;
    text-align: justify;
    margin-bottom: 0;
    hyphens: auto;
}

@media (min-width: 992px) {
    main p {
        text-indent: 0;
        text-align: left;
        margin-bottom: 1em;
        hyphens: none;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .chapter-nav {
    font-family: sans-serif;
}

main li {
    margin-bottom: 0;
    padding-left: 1.2em;
    text-indent: -1.2em;
}

main ol, main ul {
    padding-left: 1.2em;
    text-align: justify;
}

@media (min-width: 992px) {
    main ol, main ul {
        margin-left: 1.2em;
        text-align: left;
    }
}

main ol > li:first-child, main ul > li:first-child {
    margin-top: 1em;
}

main ol > li:last-child, main ul > li:last-child {
    margin-bottom: 1em;
}

h1 {
    margin-top: calc(1.618 * 3rem);
    margin-bottom: 3rem;
    font-size: 3rem;
}

h2 {
    margin-top: calc(1.618 * 2.5rem);
    margin-bottom: 2.5rem;
    font-size: 2.5rem;
}

h3 {
    margin-top: calc(1.618 * 2rem);
    margin-bottom: 2rem;
    font-size: 2rem;
}

h4 {
    margin-top: calc(1.618 * 1.5rem);
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

h5 {
    margin-top: calc(1.618 * 1.25rem);
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
}

main dl {
    margin-top: 1em;
}

/*.sidebar h2 {
  font-weight: bold;
}*/

nav li.book-part {
    display: none;
}

nav li.book-part + li {
    margin-top: 1rem;
    /*font-weight: bold;*/
}

footer a,
footer a:hover {
    color: white;
}

.references p {
    margin-bottom: 1em;
}

/* Nav adjustments */

nav[data-toggle="toc"] .nav > li {
    margin-bottom: 0;
}

nav[data-toggle="toc"] .nav > li > a {
    padding: 0.125rem 0;
    margin: 0.125rem 0;
}

nav[data-toggle="toc"] .nav-link.active + ul {
    margin-top: 0;
}

/* Adjustments for menu max-height optimization */

@media (min-width: 992px) {
    .sidebar-book {
        margin-bottom: -3rem;
    }
}

@media (min-width: 768px) {
    .sidebar-chapter {
        margin-bottom: -3rem;
    }
}

/* Bottom navigation */

.chapter-nav .prev,
.chapter-nav .next {
    padding: 0.5rem 0.75rem;
    border-radius: 1.5rem;
}

/* Search field */

input#search:not(:hover)::placeholder {
    opacity: 0;
}

input#search {
    border-radius: 0.25rem 1.5rem 1.5rem;
}

.algolia-autocomplete .aa-dropdown-menu {
    border-radius: 0.25rem 1.5rem 0.25rem 0.25rem;
    width: min(calc(100% - 1.5rem), 20rem);
    margin-left: 1.5rem;
}

/* GitHub links */

#book-source i,
#book-edit i {
    /* Remove some GitHub icons (build errors when removing in source code) */
    display: none;
}

.book-extra a {
    color: gray;
}
